#this will only work if you use command line git, and definitely not work(it's ignored) if you use eclipse/egit, however
#if you're using Eclipse/EGit, to make sure that the committed line endings are LF only(aka normalized) please do this:
#Window->Preference->Team->Git->Configuration
#click the Repository Settings tab on the right
#select Repository: FactionsPlus
#make sure that 
#core->autocrlf is set to true  rather than the default false
#hit Ok, this setting should now remain in effect unless you delete the local FactionsPlus repository and close again from remote


#This setting tells git to always normalize all files. When committed they are stored with LF, 
# on checkout they are converted to the OS's native line endings.
* text

*.* text

#This setting "binary" tells git that the files specified are not text at all, and it should not try to change them. The binary setting is an alias for -text -diff.
*.jar binary
