/lib
/bin
*.pydevproject
.metadata
*.tmp
*.bak
*.swp
*~
/.classpath
/.settings
.loadpath
/built.jar
fpexport_personalized.jardesc
/.project
/fpexport_toOUTPUT.jardesc
libs/Cannons.jar
libs/DisguiseCraft.jar
libs/Essentials.jar
libs/Factions.jar
libs/LWC.jar
libs/Lockette.jar
libs/MobDisguise.jar
libs/Multiverse-Core.jar
libs/Multiverse-Portals.jar
libs/Vault.jar
libs/WorldEdit.jar
libs/WorldGuard.jar
libs/mcore.jar
